<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z8">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Complex Form Validation</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>Person Form</span>
      <span class="example-spacer"></span>
      <button type="submit" mat-flat-button color="primary" (click)="doCheck()"  class="botao"> {{ !iniciando && form.valid?'Gravar':'Validar'}} </button>
      <button mat-flat-button color="primary" (click)="resetForm()"  class="botao"> Reset </button>
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="form">
  <mat-card>
      <mat-card-content>
          <mat-tab-group id="tabControl" #tabControl [dynamicHeight]="false" [disableRipple]="true" animationDuration="0ms" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange()">

              <mat-tab #tab1 >
                  <ng-template matTabLabel>Basic</ng-template>
                   <app-form1 #form1 (formReady)="subformReady($event)"></app-form1>
              </mat-tab>

              <mat-tab #tab2>
                  <ng-template matTabLabel>Contato</ng-template>
                   <app-form2 #form2 (formReady)="subformReady($event)"></app-form2>
              </mat-tab>

              <mat-tab #tab3>
                  <ng-template matTabLabel>Usuário</ng-template>
                   <app-form3 #form3 (formReady)="subformReady($event)"></app-form3>
              </mat-tab>

              <mat-tab #tab4>
                  <ng-template matTabLabel>Emails</ng-template>
                   <app-form4 #form4 (formReady)="subformReady($event)"></app-form4>
              </mat-tab>

              <mat-tab #tab5>
                  <ng-template matTabLabel>Extras</ng-template>
                   <app-form5 #form5 (formReady)="subformReady($event)"></app-form5>
              </mat-tab>

          </mat-tab-group>
      </mat-card-content>
      <mat-card-footer align="end" style="padding: 10px;">
          <button mat-flat-button color="accent" (click)="next()"  class="botao-proximo"> {{ this.selectedIndex < this.subforms.length-1? 'Próximo': 'Início' }}</button>
       </mat-card-footer>
  </mat-card>
</form>
